<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header text-center">{{ 'Shopping_Cart' | translate }}</div>
    <div class="card-body">
        <h5 class="card-title">Total: ${{total}}</h5>
        <hr>
        <h6 class="card-title">{{ 'Items_bought' | translate }}:</h6>

        <ul>
            <li *ngFor="let order of orders.productOrders">
                {{ order.product.name }} - {{ order.quantity}} pcs.
            </li>
        </ul>

        <button class="btn btn-light btn-block" (click)="finishOrder()"
                [disabled]="orders.productOrders.length == 0">Checkout
        </button>
    </div>
</div>

<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-body" style="padding: 0px !important; margin-top: -30px;">
                <div class="text-center mt-5" style="text-align: left !important; padding: 0">                 
                <div>
                  <ul class="list-group" style="color: black">
                        <li class="list-group-item"  *ngFor="let item of itemsList" style="background: #ffc107 !important;">
                          <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)"/> 
                          {{item.name}}{{item.price}}            
                        </li>
                  </ul>
                </div>
             </div>
        </div>
    </div>

    <div class="card text-white bg-default mb-3" style="max-width: 18rem;">
        <div class="card-body">
      
            <div id="social-media-icon">
              <p style="color: #31310b; color: #31310b; margin-top: -12px;">Flow me</p> 
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a> <br>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-instagram"></a>
             </div>
                <hr>
                 <div style="padding-left: 30px; margin-top: 18px;">
                    <p style="color: #31310b; text-align: center; margin-right: 25px;">Comments</p>
                   <button type="button" (click)="commentPage()" title="Comments" style="background: transparent; border: none;"><i class="far fa-comment-dots"></i></button>
                  </div>

                  <hr>
                  <div>
                      <p style="color: #31310b; text-align: center">Subscribe with us</p>
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div>
                      <button class="btn btn-primary active" style="margin-left: 40px; margin-top: 5px;" type="button" id="button-addon2">Subscribe</button>
                    </div>
                  </div>

        </div>
    </div>


    
