
<div class="row card-deck">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let order of moviesOrders">
        <div class="card text-center">
            <div class="card-header">
                <h4>{{order.movie.name}}</h4>
            </div>
            <div class="card-body">
                <a href="#"><img class="card-img-top" src={{order.movie.pictureUrl}} alt=""></a>
                <h5 class="card-title">${{order.movie.price}}</h5>
                <div class="row">
                    <div class="col-4 padding-0" *ngIf="!isMovieSelected(order.movie)">
                        <input type="number" min="0" class="form-control" [(ngModel)]=order.quantity>
                    </div>
                    <div class="col-4 padding-0" *ngIf="!isMovieSelected(order.movie)">
                        <button class="btn btn-primary" (click)="addToCart(order)"
                                [disabled]="order.quantity <= 0">Add To Cart
                        </button>
                    </div>
                    <div class="col-12" *ngIf="isMovieSelected(order.movie)">
                        <button class="btn btn-primary btn-block"
                                (click)="removeFromCart(order)">Remove From Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>