table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  .button {
    padding: 4px;
    border-radius: 5px;
    cursor: progress;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}