table {
  font-family: "Lato","sans-serif";
  width: 100%;
}       /* added custom font-family  */

table.one {
  margin-bottom: 3em;
  border-collapse:collapse;   }

td {                            /* removed the border from the table data rows  */
  text-align: center;
  width: 10em;
  padding: 1em;       }

th {                              /* removed the border from the table heading row  */
  text-align: center;
  padding: 1em;
  background-color: #e8503a;       /* added a red background color to the heading cells  */
  color: white;       }                 /* added a white font color to the heading text */

tr {
  height: 1em;    }

table tr:nth-child(even) {            /* added all even rows a #eee color  */
  background-color: #eee;     }

table tr:nth-child(odd) {            /* added all odd rows a #fff color  */
  background-color:#fff;
}
h2 {
  color:#8e9195;
  font-family: initial;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #007bff !important;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 100px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
