<div *ngIf='isLoggedIn; else loggedOut'>
  <app-home></app-home>
</div>

<ng-template #loggedOut>  
<nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="card bg-custom mb-5">
        <h3 class="card-header">{{'Sign_in' | translate }}</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
       
                  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div class="form-group">
                           <label for="username">{{'Username' | translate }}</label>
                           <input type="text" class="form-control" name="username" 
                           [(ngModel)]="form.username" #username="ngModel" required placeholder="Username"/> 
                           <div *ngIf="f.submitted && username.invalid" class="alert alert-danger">
                               <div *ngIf="username.errors.required">{{'Username_is_required' | translate }}</div>
                           </div>
                        </div>
                        <div class="form-group">
                          <label for="password">{{'Password' | translate }}</label>
                          <input type="password" class="form-control" name="password" 
                          [(ngModel)]="form.password" #password="ngModel" required placeholder="Password"/> 
                          <div *ngIf="f.submitted && password.invalid" class="alert alert-danger">
                              <div *ngIf="password.errors.required">{{'Password_is_required' | translate }}</div>
                              <div *ngIf="password.errors.minlength">{{'Password_must_be_at_least_6_characters' | translate }}</div>
                          </div>
                       </div>
                       <div class="form-group">
                          <button class="btn btn-warning">{{'Login' | translate }}</button>  <a href="signup" class="btn btn-danger" style="margin-left: 8px;">{{'Sign_up' | translate }}</a>
                        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                           {{'Login_failed' | translate }}: {{errorMessage}}
                        </div>
                       
                     </div>
                   
               </form>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>
</ng-template>