
<div style="margin-top: 10px"> <!-- Admin tab -->
  <div class="panel panel-info">
      <div class="panel-heading">
         <p style="font-size: 18px; font-weight: bold; color: #545454;"><fa name="gamepad" animation="spin"></fa> <i class="fas fa-info-circle"></i> {{ 'Music_Details' | translate }} </p>
      </div> 
      <div class="panel-body" *ngIf="music">

        <div class="row">
            <div class="col-lg-4">
                <div class="columns">
                    <ul class="price">
                      <li class="header" style="background-color:#31b0d5;">{{ 'Information' | translate }}</li>
                      <li class="grey" title="Quantity"> 
                        <ngx-counter countValue=1 limit=10 size="big" color="#ffffff" bgcolor="#16a085"></ngx-counter>    
                      </li>
                      <li style="color: #b33939; font-weight: bold">Price: {{music.price}}$</li>
                      <li>{{ 'Name' | translate }} <br> {{music.name}}</li>
                      <li>{{ 'Description' | translate }} <br> {{music.description}}</li>
                      <li class="grey">
                          <button (click)="homePage()" class="button btn btn-danger">{{ 'Cancel' | translate }}</button>
                     </li>
                    </ul>
                  </div>
            </div>
      
             <div class="col-lg-8">
                <img class="card-img-top img-thumbnail" style="width: 500px; height: 400px; margin-top: 15px;" src="{{music.pictureUrl}}" alt="Image">
              </div>
        </div>

      </div>  
  </div>
</div>
