           <div class="container"  *ngFor="let order of productOrders let i = index;" style="padding-bottom: 50px;">
            <div class="row">
              <div class="col" [hidden]="orderFinished">
               
                    <div class="pricing-table">

                            <div class="pricing-item pricing-featured">
                              <div class='selected'>Recomend</div>
                              <div class="pricing-title">
                                PRO
                              </div>
                              <div class="pricing-value">R${{order.product.price}}.<span class="smallText">90</span>
                              </div>
                              <ul class="pricing-features">
                                <li><span class="keywords">{{'Name' | translate}}:</span> {{order.product.name}}</li>
                                <li style="background: aliceblue;"> <span class="keywords">{{'View' | translate}}:</span> {{counter}}</li>
                                <li>{{'Description' | translate}}: <br> 
                                  <span>
                                 {{order.product.description}}

                                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi hic fugit inventore saepe optio quidem sunt, molestiae voluptate doloribus accusantium corporis quisquam veritatis tempora, similique consequuntur distinctio dicta error esse?
                                
                                </span></li>
                                
                              </ul>
                             
                              <div class="button">
                                    <div *ngIf="!isProductSelected(order.product)">
                                            <button id="addToCartBtn" class="btn-block" (click)="addToCart(order)"
                                                    >{{'Add_To_Cart' | translate }}
                                            </button>
                                            
                                        </div>
                                        <div *ngIf="isProductSelected(order.product)">
                                            <button class="btn btn-danger btn-block active"
                                                    (click)="removeFromCart(order)">{{'Remove_From_Cart' | translate }}
                                            </button>
                                        </div>
                              </div>
                            </div>
                            
                          </div>


              </div>
              <div class="col" [hidden]="orderFinished">
                  <a href="#"><img class="card-img-top img-thumbnail" 
                    style="width: 100%; height: 430px" src={{order.product.pictureUrl}} alt="image"></a>
                    <div *ngIf="!isProductSelected(order.product)">
                        <input type="hidden" tabindex="0" min="1" max="1" class="form-control" [(ngModel)]="order.quantity" />
                    </div>
                 
                    <div class="jumbotron" style="display: flex; padding: 15px 42px;">
                     <span><fb-like url={{url}}></fb-like></span>
                     <span><google-plus url={{url}}></google-plus></span>
                     <span><tweet url={{url}} text={{text}}></tweet></span>
                     <span><linkedin-share url={{url}}></linkedin-share></span>
                    </div>

              </div>
              <div class="col" style="padding-right: 34px;">
                  <div style="margin-top: 5px;">
                      <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC
                                         [hidden]="orderFinished"></app-shopping-cart>
                  </div>
                 
                  <div>
                      <app-orders #ordersC [hidden]="!orderFinished"></app-orders>
                  </div>         
              </div>
              <hr style="border: 1px solid #ddd;">
            </div>
          </div>
    

      
      