
.navbar{
  margin-bottom: 24px;
}
.dropdown-item,
.navbar a{
  color: #FFF !important;
}
.dropdown-menu{
  background: #007bff !important;
  border: 0px !important;
}
.dropdown-menu .dropdown-item:hover{
  background: #FFF;
  color: #007bff !important;
}