
<div class="loader" *ngIf="spinnerLoad"></div>

  <div *ngIf="!spinnerLoad">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4> <i class="fas fa-utensils"></i> All Restaurants {{total}}</h4></div>
      <div class="panel-body">
        <div class="card hover" *ngFor="let res of restaurants | paginate:{itemsPerPage: 12, currentPage:p}">
          <div class="card-img" style="background-image:url(https://images.memphistours.com/large/5f00f990272320282d98da1928fd8324.jpg);">
            <div class="overlay">
              <div class="overlay-content">
                <a class="hover" (click)="restaurantDetails(res.restaurant_id)">More details</a>
              </div>
            </div>
          </div>

          <div class="card-content">
            <h2 style="font-size: 18px; color: #1b1e24; margin-bottom: -12px;">{{res.name}}</h2>
            <h2 style="font-size: 13px;"> Borough : {{res.borough}} <br> Cuisine: {{res.cuisine}}</h2>
          </div>
        </div>

      </div>
    </div>
  <div class="panel panel-primary" style="margin-top: -22px;">
  <div class="panel-body" style="padding-bottom: 0 !important;">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
  </div>

    <br><br><hr>
  </div>


