<!--The content below is only a placeholder and can be replaced.-->
<div class="container app">
  <h1 style="color: blue; text-align: center">{{title}}</h1>

  <ul>
     <li> <a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
      <li> <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a></li>
      <li> <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a></li>
  </ul>

  <router-outlet></router-outlet>
</div>


