body {
    background: #F1F3FA;
  }
  
  /* Profile container */
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 30%;
    height: 30%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 5px;
  }
  
  .profile-usertitle-job {
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
.profile-usermenu{
 margin-top: 15px;
 border: 1px solid aliceblue;
 padding: 10px;
    }  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }

  /* Dashboard */

#homePage .tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}

#homePage .tabs-right {
  border-left: 1px solid #ddd;
}
#homePage .tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
#homePage .tabs-left>li {
  margin-right: -1px;
}
#homePage .tabs-right>li {
  margin-left: -1px;
}
#homePage .tabs-left>li.active>a,
#homePage .tabs-left>li.active>a:hover,
#homePage .tabs-left>li.active>a:focus {
  background: linear-gradient(to right, #3848A2, #007bff, #039BE6, #028BCF, #3F51B5);
  color: #ffffff;
}

#homePage .tabs-right>li.active>a,
#homePage .tabs-right>li.active>a:hover,
#homePage .tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
#homePage .tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
#homePage .tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
#homePage .sideways {
  margin-top:50px;
  border: none;
  position: relative;
}
#homePage .sideways>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
#homePage .sideways>li>a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
#homePage .sideways>li.active>a,
#homePage .sideways>li.active>a:hover,
#homePage .sideways>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
#homePage .sideways.tabs-left {
  left: -50px;
}
#homePage .sideways.tabs-right {
  right: -50px;
}
#homePage .sideways.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#homePage .sideways.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#homePage .showTab{
  display: block !important;
}
#homePage .hideTab{
  display: none !important;
}

